@layer utilities {
    .grid-parent {
        container-type: inline-size;
    }

    .grid-handler {
        display: grid;
        grid-template-columns: calc(50% - 7px) calc(50% - 7px);
        gap: 14px;
    }

    .grid-start {
        grid-template-areas:
            "upload-image upload-image";
    }

    .grid-full {
        grid-template-areas:
            "upload-image upload-image"
            "map-setup preview"
            "areas preview"
            "settings preview"
            "palette materials-list"
            "exporting exporting";
    }

    .grid-dat {
        grid-template-areas:
            "upload-image upload-image"
            "map-setup preview"
            "areas preview"
            "settings preview"
            "palette exporting";
    }

    @container (max-width: 800px) {
        .grid-full {
            grid-template-columns: 100%;
            grid-template-areas:
                "upload-image"
                "map-setup"
                "areas"
                "palette"
                "settings"
                "preview"
                "materials-list"
                "exporting";
        }

        .grid-dat {
            grid-template-columns: 100%;
            grid-template-areas:
                "upload-image"
                "map-setup"
                "areas"
                "palette"
                "settings"
                "preview"
                "exporting";
        }
    }

    #upload-image { grid-area: upload-image; }
    #map-setup { grid-area: map-setup; }
    #areas { grid-area: areas; }
    #palette { grid-area: palette; }
    #preview { grid-area: preview; }
    #settings { grid-area: settings; }
    #materials-list { grid-area: materials-list; }
    #exporting { grid-area: exporting; }
}
